
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}
body { padding-top: 70px; 

}


h2{
  font-weight: 700;
  font-size: 2.5rem;
}

#about{
  margin-top: 10%;
  padding: 2rem 0;
  max-width: 100%;
  background-color: #005bff;
  color: #fff;
}

#team{
  margin-top: 10%;
  padding:1%  5%;
  color: #000;
}



.navbar{
  background-color: #ecf0f3;
}
.hero, nav{
  padding: 0 5%;
  width: 100%
}
/* div{
  border:2px solid red
} */
.main-content{
  margin-top:7%
}

.logo{
  width: 100px;
  height: 80px
}

.hero-image{
  width: 600px;
  animation: swing 5s linear 2s infinite alternate;
 
}
.hero-image:hover{
  cursor: pointer;
  
}

.hero-img{
  left: 2rem;
  /* overflow-y: hidden; */
 
}
.header h1{
  width: 88%;
  line-height: 5rem;
  font-size: 3.5rem;
  font-weight: 800;
}
.header .qualif{
  color:  #005bff;
}
.hero-description p{
  font-weight: 500;
  margin: 2rem 0;
  width: 90%;
  font-size: 1rem;
}
.demo a{
  text-decoration: none;
}
.demo, .icon{
  display: flex;
  justify-content: center;
  align-content: center;
}


hr{
  width: 15%;
  margin: 1rem auto;
  background-color: #005bff;
  height: 3px !important;
  
}
.vids{
  width:300px;
  height:350px;
  
}
.imgs{
  width:100px;
  height:100px;
  border-radius: 50%;
}
 .wraper{
    width: 500px;
    height: 300px;
    cursor: pointer;
    transition: 1s ease;
    margin: 2rem 0;
    border: 1px solid #005b;
    border-radius: 10px;
    
}
.active-img{
  background-color: #005bff;
  color: #fff;
}
.wraper:hover{
  background-color: #005bff!important;
  color: #fff
}
.video{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
}
.note1{
  margin: 3rem 0;
}
.cnt{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left:3rem ;
}

.ideation{
  padding: 4rem 0;
  margin: 5rem 0; 
  
}
.fa-check-circle{
  font-size: 2.5rem;
  color: #005bff;
}
.content{
 margin-top: 1.5rem;
}

.in{
  font-size: 1.5rem;
  opacity: .6;
  color: #000;
  transition: .5s ease-in;
}
.in:hover{
  transform: rotate(360deg);
  font-size: 2rem ;
  opacity: 1;
  color: #fff;
}

.qts{
  content: "\201C";
  font-size: 7rem;
}




.quote{
  margin: 4%;
}
#contact-us{
background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-top: 10%;
color: #ecf0f3;
padding: 2rem 4rem;
}

.footer-img{
  width: 350px;
  height: 250px;
}
.link{
  margin-top: 3rem;

}
.link a{
  color: #fff;
  text-decoration: none;
 
}
.link a i{
  font-size: 2rem;
 
}
.link a:hover{
  text-decoration: underline;
}
.inner{
  margin-top: 2rem;
}
@keyframes  swing {
  0%   { transform: rotate(20deg); }
  25%  { transform: rotate(0deg)}
  50%  {transform: rotate(-20deg)}
  75%  {transform: rotate(0deg)}
  100% {transform: rotate(20deg)}
}

/* 
About-page */
.about-hero{
  background-color: #005bff;
  padding: 6% 0;
  width: 100%;
  color: #fff;
}
.community-img{
  width: 600px;
  border-radius: 10px;

}
.dot-img{
  width: 100px;
  height: 100px;
}


/* Team */
.team-hero{
  background-image: url('/static/images/teambg.jpeg');
  background-repeat: no-repeat;
  background-position: right center;
  padding: 10% 0;
  color: #fff;
  background-color: #005bff;
  opacity: 0.8;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (max-width: 600px) {


  .logo{
    width: 70px;
    height: 60px
  }
  .hero-image{
    width: 300px;
    animation: swing 5s linear 2s infinite alternate;
    display: none;
   
  }
  h2{
    font-weight: 700;
    font-size: 1.5rem;
  }
  .header h1{
    width: 88%;
    line-height: 3.5rem;
    font-size: 2rem;
    font-weight: 800;
  }
  .vids{
    width:300px;
    height:300px
  }
  #about{
    width: 100%;
  }
  @keyframes  swing {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(0deg)}
    50%  {transform: rotate(0deg)}
    75%  {transform: rotate(0deg)}
    100% {transform: rotate(0deg)}
  }
}
